<html>
  <head>
    <title>Curricula</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="index.js"></script>
  </head>
  <body>
    <div id="app">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" href="index.html">Daniel's Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li v-for="section in sections" class="nav-item">
                <a class="nav-link" :href="'#' + section.title">{{section.title}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#myDog">My dog</a>
            </li>
        </ul>
        </div>
      </nav>

      <div class="jumbotron" v-for="section in sections" v-bind:id="section.title">
        <h1 class="display-4">{{section.title}}</h1>
        <div style="display: flex;" v-if="section.subssections.length > 1">
          <hr class="my-4">
          <div class="card" style="width: 40vw; margin-right: 5vw;" v-for="subsection in section.subssections">
            <div class="card-body">
              <h5 class="card-title">{{subsection.subtitle}}</h5>
              <p class="card-text">{{subsection.content}}</p>
            </div>
          </div>
        </div>
        <div v-else>
          <div v-for="subsection in section.subssections">
            <hr class="my-4">
            <h5>{{subsection.subtitle}}</h5>
            <p>{{subsection.content}}</p>
          </div>
        </div>
      </div>

      <h1 class="display-4" style="text-align: center;" id="myDog">My dog</h1>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background-color: #e9ecef;">
        <div class="carousel-inner">
          <div style="text-align: -webkit-center;" v-for="(img, index) in imgs" :class="{ 'active': index === 0, 'carousel-item' : true }">
            <a :href="img">
              <img :src="img" class="d-block" style="width: 50%">
            </a>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
  </body>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: "Hello Vue!",
        sections: [],
        imgs: [],
      },
      methods: {
        async getSections(){
          this.sections = await fetchSections();
          this.imgs = await fetchImgs();
        }
      },
      beforeMount(){
        this.getSections()
      }
    })
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>